.forgot-container{
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-container-forgot{
    border: 2px solid red;
    border-radius: 30px ;
    /* background-color: rgb(109, 164, 151); */
    background-color: rgb(0, 0, 0);
    box-shadow: #800000 0px 22px 70px 4px;
    
}
.forgot-password-description{
    color: rgb(0, 0, 0);
    font-size: large;
    font-style: italic;
    font-weight: bold;
    color: rgb(98, 255, 0);
    
}
/* .fbtn{
    height: 50px;
    border: 2px solid red;
    width: 130px;
    border-radius: 30px;
} */
.fbtn {
    height: 50px;
    width: 130px;
    border: none;
    border-radius: 30px;
    background-color: #ff0000; /* Green background color */
    color: #fff; /* White text color */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  /* Hover effect */
  .fbtn:hover {
    background-color: #000000; /* Darker green on hover */
    transform: scale(1.1); /* Scale the button on hover */
    color: cyan;
  }
  

  .custom-label {
    display: block;
    margin-bottom: 20px;
    color: #333; /* Text color */
    font-size: 16px; /* Font size */
    color: rgb(98, 255, 0);
  }
  
  .custom-input {
    height: 40px; /* Increased height */
    width: 300px; /* Increased width */
    padding: 8px; /* Padding for inner content */
    border: 2px solid #4CAF50; /* Border color */
    border-radius: 5px;
    box-sizing: border-box; /* Include padding and border in total width/height */
    margin-top: 5px; /* Adjust the spacing between label and input */
  }
  
  /* Optional: Add styles for focus state */
  .custom-input:focus {
    outline: none;
    border-color: #45a049; /* Change border color on focus */
  }
  